header {
    background-color: white;
    width: 100%;
    display: grid;
    font-size: 13px;
    height: 64px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
}


/* .shadow {

Shadow / Default
box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
} */

body {
    display: grid;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    background-color: rgba(246, 247, 248, 1);
}

.container {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
}

.left-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    column-gap: 24px;
}

.right-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
}

.right-side a {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
}

li::marker {
    content: "";
}

footer {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    font-size: 13px;
    height: 64px;
    margin: 0 auto;
    justify-content: space-between;
}

.frame1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.title {
    color: var(--day-text-text-01, rgba(0, 0, 0, 0.80));
    text-align: center;
    font-feature-settings: 'liga' off;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
}

.text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.subtitle {
    color: var(--day-text-text-01, rgba(0, 0, 0, 0.80));
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 160% */
}

.button {
    display: flex;
    padding: 16px 36px;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
}