* {
    font-family: 'Roboto', sans-serif;
}
/**/
header {
    background-color: white;
    width: 100%;
    display: grid;
    font-size: 13px;
    height: 64px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
}


/* .shadow {

Shadow / Default
box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
} */

/**/
body {
    display: grid;
    margin: 0;
    min-height: 100vh;
    background-color: rgba(246, 247, 248, 1);
}

/**/
.container {
    width: 1104px;
    margin: 0 auto;
}

/**/
.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/**/
.left-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
}

/**/
.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    column-gap: 24px;
    list-style-type: none;
}

.tabs li::after{

}

/**/
.right-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
}

/**/
.right-side a {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
}

/**/
.requirements {
    display: flex;
    width: 341px;
    flex-direction: column;
    gap: 12px;
}

/**/
.requirements li{
    list-style-type: none;
    position: relative;
    color: rgba(0, 0, 0, 0.80);
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/**/
.requirements li::after{
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    position: absolute;
    left: -20px;
    top: 11px;
    background-color: #000;
}

.promo__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 40px 128px;
}

.promo__wrapper-text {
}

footer {
    padding: 20px 0 24px 0;
    border-top: 1px solid #e7e8ea;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: var(--day-text-text-02, rgba(0, 0, 0, 0.54));

    /* color: rgba(255, 252, 252, 0.021); */
}



.course_suitable__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}


.course_suitable__wrapper-image-and-text {
    display: flex;
    flex-direction: row;
    /* width: 80%; */
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    gap: 64px;
}


.text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}


.title {
    color: var(--day-text-text-01, rgba(0, 0, 0, 0.80));
    text-align: center;
    font-feature-settings: 'liga' off;
    font-size: 44px;
    font-weight: 900;
    line-height: 48px;
}

.subtitle {
    color: var(--day-text-text-01, rgba(0, 0, 0, 0.80));
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

button {
    border-radius: 8px;
    background: #FFDD2D;
    padding: 16px 36px;
    outline: none; /* Для синий ободки */
    border: 0;
}